@import url('https://fonts.googleapis.com/css2?family=Montserrat');
:root{
    /* altura y ancho de preguntas */
    --heightPregunta:400px;
    --widthPregunta:600px;
    --colorTitulo:#6545A1;
    --colorBgPregunta:#F9F6FF;
    --colorBgCarta:#30224D;
    --colorDescripcion:linear-gradient(to top,white 50%,rgba(255, 255, 255, 0.97) 40%);
    --boxshadowDescripcion:2px 2px 2px #848484;
    --filtershadowDescripcion:0px 1px 1px var(--colorTitulo);
    --filtershadowHoverDescripcion:0px 2px 1px var(--colorTitulo);
    --borderDescripcion:5px solid var(--colorTitulo);
}
body,html{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

/* ejercicios de apoyo */
.apoyoTitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    font-size: 2rem;
    background-image: url(../img/bg-ejercicio.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #6545A1;
}
b{
    opacity: 0;
    position: relative;
    left: 2rem;
    top: 2rem;
    animation: titulo-in 0.5s ease-in-out forwards;
    animation-delay: var(--delayTitulo);
}
@keyframes titulo-in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        top: 0;
        left: 0;
    }
}
/* parte de preguntas */
.parte_preguntas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 52vh;
}
  /* button flecha */
.parte_preguntas button{
    border: 0;
    background: none;
    cursor: pointer;
}
.parte_preguntas i{
    font-size: 3rem;
}
    /* animate de pregunta */
.ventana{
    height: var(--heightPregunta);
    width: var(--widthPregunta);
    overflow: hidden;
    position: relative;
    color: #6545A1;
}
.ventana h2{
    font-size: 2.5rem;
    margin: 0;
}
.preguntas{
    height: var(--heightPregunta);
    position: absolute;
}
.pregunta{
    float: left;
    height: var(--heightPregunta);
    width: var(--widthPregunta);
    
}
 /* modifica estilo de texto */
.pregunta h2{
    font-size: 2.5rem;
}
.pregunta h3{
    font-size: 1.5rem;
}
.pregunta p{
    font-size: 1.5rem;
}


/* Otro ejercicio */
main{
    background-image: linear-gradient(to top,rgba(255, 255, 255, 1) ,rgba(255, 255, 255, 0.5) 50%),url("../img/bg-ejercicio2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* titulo de otro ejercicio */
main>h1{
    background: #30224D;
    color: white;
    text-align: center;
    font-size: 5vh;
    margin: 0;
    padding: 2vh 0;
}
.parteOtro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
}
.otroEje{
    box-shadow: 2px 2px 4px rgba(0,0,0,50%);
    background-repeat: no-repeat;
    background-color: var(--colorBgCarta);
    border-radius: 20px;
}
.descripcionEje{
    border-radius: 20px;
    box-shadow: var(--boxshadowDescripcion);
    background-color: white;
}
.descripcionEje>h2,.bxs-caret-down-circle{
    text-align: left;
    color: var(--colorTitulo);
    font-size: 24px;
    filter: drop-shadow(var(--filtershadowDescripcion));
}
.bxs-caret-down-circle{
    font-size: 1.5rem;
}
.descripcionEje>.bxs-caret-down-circle:hover{
    filter: drop-shadow(var(--filtershadowHoverDescripcion));
    cursor: pointer;
}
/* flexbox de tarjetas */
section{
    display: grid;
    grid-template-columns: repeat(4,200px);
    grid-template-rows: repeat(2,250px);
    gap: 20px;
}
/* carta 1 */
.carta1{
    position: relative;
    opacity: 0;
    left: -100px;
    display: inline-flex;
    justify-content: center;
    background-image: url("../img/imgEjeApoyo1.png");
    background-size: 100% 60%;
    grid-column: 1/3;
    grid-row: 1/3;
}
.carta1>.descripcionEje{
    position: absolute;
    width: 60%;
    height: 65%;
    top: 80px;
    padding: 20px;
    background: var(--colorDescripcion);
}
.carta1>.descripcionEje>h2{font-size: 32px;}
.carta1>.descripcionEje>.bxs-caret-down-circle{
    position: absolute;
    bottom: 30px;
    right: 30px;
}
/* margin de conjunto de carta 2 y carta3 */
/* carta 2 */
.carta2{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    right: -50px;
    opacity: 0;
    grid-column: 3/5;
}
.carta2>img{
    object-fit: cover;
    width: 50%;
    height: 100%;
    border-radius: 0 20px 20px 0;
}
.carta2>.descripcionEje{
    position: relative;
    height: 75%;
    width: 35%;
    padding: 10px;
    margin: 5%;
}
.carta2>.descripcionEje>h2{
    margin: 0;
}
.carta2>.descripcionEje>.bxs-caret-down-circle{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
/* carta3 */
.carta3{
    position: relative;
    bottom: -50px;
    opacity: 0;
    grid-column: 3/5;
    display: flex;
    justify-content: space-between;
}
.carta3>img{
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    width: 50%;
    height: 100%;
}
.carta3>.descripcionEje{
    position: relative;
    width: 35%;
    height: 75%;
    padding: 10px;
    margin: 5%;
}
.carta3>.descripcionEje>h2{
    margin: 0;
}
.carta3>.descripcionEje>.bxs-caret-down-circle{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
/* pregunta de arriba */
.preguntaOtra{
    height: 0;
    opacity: 0;
    background-image: url("../img/bg-ejercicio3.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
}
/* contenido */
/* aparece las pregunta por cartas */
.contenido{
    position: absolute;
    width: 100%;
    height: 0;
    color: #6545A1;
    background-size: cover;
}
.masPregunta{
    width: 40vw;
    height: 0;
    opacity: 0;
    margin: 100px 0 0 100px;
    padding: 30px;

}
.masPregunta>h3{
    font-size: 3rem;
}
.masPregunta>p{
    font-size: 2rem;
    font-weight: bold;
}
.cartaP{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 4px #848484;
    border-radius: 10px;
    filter: drop-shadow(1px 1px 1px #30224D);
    width: 200px;
    height: 300px;
    position: absolute;
    cursor: pointer;
}
/* establecer los estilos de fondo */
    .preguntaOtra>div:nth-child(1){
    background-image: url("../img/bg-ejercicioC1.png");
}
.preguntaOtra>div:nth-child(2){
    background-image:url("../img/bg-ejercicioC2.png");
}
.preguntaOtra>div:nth-child(3){
    background-image: url("../img/bg-ejercicioC3.png");
}
/* establecer los estilos de tarjeta */
.preguntaOtra>div:nth-child(4){
    background-image: url("../img/bg-ejercicioContenido1.png");
    right: 260px;
    bottom: 200px;
    z-index: 2;
}
.preguntaOtra>div:nth-child(5){
    background-image: url("../img/bg-ejercicioContenido2.png");
    background-position: 60%;
    right: 280px;
    bottom: 220px;
    z-index: 1;
}
.preguntaOtra>div:nth-child(6){
    background-image: url("../img/bg-ejercicioContenido3.png");
    right: 300px;
    bottom: 240px;
    z-index: 0;
}
/* bóton */
.up-icon{
    opacity: 0;
    position: relative;
    box-shadow: inset 0px 0px 5px black;
    border-radius: 40px;
    height: 100px;
    width: 40px;
    padding: 5px;
    margin-bottom: 40px;
}
.bx-caret-up-circle{
    position: absolute;
    background: white;
    border-radius: 50%;
    color: #6545A1;
    height: 40px;
    font-size: 40px;
    filter: drop-shadow(0px -1px 3px rgb(77, 77, 77));
    cursor: pointer;
}
/* tienes dudas */
.contacto{
    height: 230px;
    background: #D9D9D9;
    text-align: center;
    padding-top: 70px;
    font-weight: bold;
}
.contacto>h1{
    margin: 0 0 32px 0;
    font-size: 2rem;
}
.contacto>p{
    font-size: 1rem;
    margin: 24px 0;
}
.contacto input{
    background: #000;
    border-radius: 35px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 12px;
    width: 200px;
}
/* footer */
footer{
    background: #000;
    color: white;
}
footer .elementos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.elementos div:first-child img{
    width: 95px;
    height: 95px;
}
.elementos div:first-child{
    display: flex;
    align-items: center;
}
.elementos div:nth-child(n+2) h2 {
    margin: 100px 0 32px 0;
}
.elementos div:nth-child(n+2) ul{
    list-style-type: none;
    margin: 0 0 120px 0;
    padding-inline-start: 0;
}
/* Sociales */
.social a svg {
    width: 1rem;
    height: 1rem;
    margin: 0.5rem;
    padding: 0;
}
/* linea horzontal */
footer hr{
    margin: 0.5rem;
}
/* avisos legales */
.avisos{
    display: flex;
    justify-content: space-between;
}
.avisos pre{
    margin: 0 0.5rem;
    font-family: "Montserrat";
}

