@import url('https://fonts.googleapis.com/css2?family=Montserrat');
:root{
    --busca-normal:#757575;
    --busca-color-hover:#000;
    --busca-color-active:#2E8B57;
}
body,html{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
/* barra de navegación */
nav{
    display: flex;
    justify-content: space-around;
    gap: 20%;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100px;
    position: fixed;
    z-index: 1;
    background: white;
}
nav div.usuario{
    display: flex;
    align-items: center;
}
nav div.usuario a{
    color: #6545A1;
}
nav div img{
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
}
nav a{
    text-decoration: none;
    color:black;
    font-size: 1.5rem;
    font-weight: bolder;
}
nav div.menu{
    display: flex;
    gap: 20%;
}
div.menu a{
    color: #6545A1;
}
.iniciarUser input {
    border: 2px solid #B19CD9;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
.iniciarUser input:first-child{
    background: white;
    color: #B19CD9;
}
.iniciarUser input:first-child:hover{
    color: white;
    background: #B19CD9;
    box-shadow: 2px 2px 4px #6545A1;
}
.iniciarUser input:first-child:active{
    border-color: #6545A1;
    background: #6545A1;
    box-shadow: none;
    color: white;
}
/* búton de comenzar en navegación */
nav div input:last-child{
    background: #B19CD9;
    color: white;
}
nav div input:last-child:hover{
    box-shadow: 2px 2px 4px #6545A1;
}
nav div input:last-child:active{
    box-shadow: none;
    background: #6545A1;
    border-color: #6545A1;
}
/* titulo */
.forosTitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    padding-top: 140px;
    font-size: 2rem;
}
b{
    opacity: 0;
    position: relative;
    left: 2rem;
    top: 2rem;
    animation: titulo-in 0.5s ease-in-out forwards;
    animation-delay: var(--delay);
}
@keyframes titulo-in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        top: 0;
        left: 0;
    }
}
/* buscador de temas */
.buscar{
    display: flex;
    justify-content: center;
}
.buscar input{
    position: relative;
    height: 50px;
    width: 1000px;
    font-size: 2rem;
    padding: 10px 1rem;
    animation: input-up 1s ease-in-out forwards;
    top: 0;
}
.buscar i{
    font-size: 3rem;
    position: relative;
    right: 4rem;
    top: 1rem;
    color: var(--busca-normal);
    background: none;
}
.buscar i:hover,.bx-tada{
    color: var(--busca-color-hover);
    cursor: pointer;
}
.buscar i:active{
    color: var(--busca-color-active);
}
/* temas y una manera de buscarlo */
main{
    display: grid;
    justify-content: center;
    padding: 70px 0;
}
.ventana{
    border: 1px solid darkslategray;
    width: 800px;
}
.temas{
    border: 1px solid salmon;
}
.tema{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0,0,0,50%);
    padding: 0 30px;
    margin: 40px 0;
    width: 800px;
}
.tema h1{
    font-size: 2.5rem;
}
.descripcion{

    margin: 2rem 0;
}
.imgAutor{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
/* tienes dudas */
.contacto{
    height: 230px;
    background: #D9D9D9;
    text-align: center;
    padding-top: 70px;
    font-weight: bold;
}
.contacto h1{
    margin: 0 0 32px 0;
    font-size: 2rem;
}
.contacto p{
    font-size: 1rem;
    margin: 24px 0;
}
.contacto input{
    background: #000;
    border-radius: 35px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 12px;
    width: 200px;
}
/* footer */
footer{
    background: #000;
    height: 400px;
    color: white;
}
footer .elementos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.elementos div:first-child img{
    width: 95px;
    height: 95px;
}
.elementos div:first-child{
    display: flex;
    align-items: center;
}
.elementos div:nth-child(n+2) h2 {
    margin: 100px 0 32px 0;
}
.elementos div:nth-child(n+2) ul{
    list-style-type: none;
    margin: 0 0 120px 0;
    padding-inline-start: 0;
}
/* Sociales */
.social a svg {
    width: 1rem;
    height: 1rem;
    margin: 0.5rem;
    padding: 0;
}
/* linea horzontal */
footer hr{
    margin: 0.5rem;
}
/* avisos legales */
.avisos{
    display: flex;
    justify-content: space-between;
}
.avisos pre{
    margin: 0 0.5rem;
    font-family: "Montserrat";
}
/* responsive */
@media screen and (max-width: 1700px){
    nav{
        height: 50px;
        padding: 10px 0;
    }
    nav div a{
        font-size: 1rem;
    }
    nav div.iniciarUser input{
        font-size: 1rem;
        padding: 5px;
    }
}