@import url('https://fonts.googleapis.com/css2?family=Montserrat');
:root{
    --busca-normal:#757575;
    --busca-color-hover:#6545A1;
    --busca-color-active:#B19CD9;
    /* ventana y tema */
    --padding-tema:30px;
    --margin-tema:40px;
    --width-tema:800px;
    --height-tema:200px;
    --width-ventana:900px;
    --height-ventana:380px;
}
body,html{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
/* titulo */
.forosTitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    padding-top: 70px;
    font-size: 2rem;
    background-image: url(../img/bg-foro.png);
    color: #6545A1;
}
b{
    opacity: 0;
    position: relative;
    left: 2rem;
    top: 2rem;
    animation: titulo-in 0.5s ease-in-out forwards;
    animation-delay: var(--delay);
}
@keyframes titulo-in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        top: 0;
        left: 0;
    }
}
/* main */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-bottom: 50px;/*Ajuste este valor según responsive*/
    background-image: url("../img/bg-foros.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* buscador de temas */
.buscar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 20vh;
}
.buscar>input{
    position: relative;
    height: 1rem;
    font-size: 1.5rem;
    padding: 10px;
    top: 0;
    outline: none;
    border: none;
    background: none;
    border-bottom:3px solid transparent;
    color: #6545A1;
    animation: buscador 2s ease-in-out forwards;
}
@keyframes buscador {
    from{
        opacity: 0;
        width: 0px;
    }
    to{
        opacity: 1;
        border-bottom:3px solid #6545A1;
        width: 800px;
    }
}
.buscar>i{
    position: relative;
    color: var(--busca-normal);
    background: none;
    font-size: 1.5rem;
    left: -30px;
    top: 2px;
}
i:hover{
    color: var(--busca-color-hover);
    cursor: pointer;
}
.buscar i:active{
    color: var(--busca-color-active);
}
/* temas y una manera de buscarlo */
.tema-bg{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background: white;
    box-shadow: 0 0 4px var(--busca-normal);
    padding: 20px 50px;
    border-radius: 20px;
    width: 900px;
    /* distancia relativa a la pantalla */
    perspective: 200px;
}
.tema{
    text-align: left;
    text-decoration: none;
    color: #6545A1;

    display: inline-flex;
    align-items: center;
    border-left: 10px solid #6545A1;
    box-shadow: 2px 4px 4px 0px var(--busca-normal),
                0px -0.5px 2px 0px var(--busca-normal);
    padding: 0 var(--padding-tema);
    margin-bottom: 2px;
    width: var(--width-tema);
    cursor: pointer;
    background: white;
    position: relative;
}
.tema:hover{animation: temaHover 100ms ease-out forwards;}
@keyframes temaHover {
    from{left:0}
    to{left: -20px;}
}
.temaTitulo{
    margin: 10px 0 0 0;
    font-size: 20px;
}
.temaTitulo+p{
    margin: 5px 0 10px 0;
}
.imgAutor{
    position: absolute;
    right: 30px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 50px;
}
.imgAutor>i:hover{
    filter: drop-shadow(-1px 1px 1px #6545a1);
}
/* add tema */
.bx-arrow-back{
    font-size: 2rem;
    margin-bottom: 10px;
    color: #6545A1;
    width: 32px;
}
.bx-arrow-back:hover{
    filter: drop-shadow(1px 1px 1px #6545a1);
}
/* formulario */
.add-tema{
    height: 0;
    opacity: 0;
    width: var(--width-tema);
    box-shadow: 2px 4px 4px 0px var(--busca-normal);
    padding: var(--padding-tema);
    border-top: 10px solid #6545A1;
    display: grid;
}
.add-tema>textarea,.add-tema>input[type="text"]{
    padding: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 0px var(--busca-normal) inset;
    margin-bottom: 30px;
    border: 0;
    border-left: 3px solid #6545A1;
    outline: 0;
}
.add-tema>label{
    display: inline-flex;
    justify-content: center;
}
input[type="file"]{
    opacity: 0;
    width: 0;
}
.bx-image-add{
    font-size: 50px;
    color: #6545A1;
}
.bx-image-add:hover{
    filter: drop-shadow(1px 1px 1px #6545a1);
}
/* input título */
.add-tema>input[type="text"]{
    height: 30px;
    font-size: 1.5rem;
    color: #6545A1;
}
/* input contenido */
.add-tema>textarea{
    height: 300px;
    font-size: 1rem;
    font-family: 'Montserrat';
    color: #6545A1;
}
.add-tema>input[type="submit"]{
    border: 0;
    font-size: 20px;
    padding: 10px;
    font-family: 'Montserrat';
    border-radius: 5px;
    color: white;
    background: #6545A1;
    cursor: pointer;
}
.add-tema>input[type="submit"]:hover{
    box-shadow: 2px 2px 4px 0px var(--busca-color-active);
}
/* Para dispositivos con un ancho máximo de 768px */
@media screen and (max-width: 768px) {
    .buscar {
        width: 90%;
        justify-content: flex-start; /* Alinear el contenido a la izquierda */
        padding: 0 20px; /* Agregar espacio de padding a los lados */
        height: auto; /* Altura automática */
        margin-bottom: 20px; /* Agregar margen inferior */
    }

    .buscar > input {
        width: 90%; /* Ancho completo */
    }

    .tema-bg {
        width: 90%; /* Ancho completo */
        padding: 20px; /* Agregar espacio de padding */
    }

    .tema {
        width: 90%; /* Ancho completo */
    }

    .add-tema {
        width: 90%; /* Ancho completo */
        max-width: 400px; /* Máximo ancho de 400px */
    }
}
