@import url('https://fonts.googleapis.com/css2?family=Montserrat');
:root{
    --busca-normal:#757575;
    --busca-color-hover:#6545A1;
    --busca-color-active:#B19CD9;
    /* ventana y tema */
    --padding-tema:30px;
    --margin-tema:40px;
    --width-tema:800px;
    --height-tema:200px;
    --width-ventana:900px;
    --height-ventana:380px;
}
body,html{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
/* barra de navegación */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    height: 70px;
    position: fixed;
    z-index: 100;
    background: white;
}
nav div.usuario{
    display: flex;
    align-items: center;
}
nav div.usuario a{
    color: #6545A1;
}
nav div img{
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
}
nav a{
    color: #6545A1;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bolder;
    cursor: pointer;
}
    /*  menu de nav */
.menu{
    display: inline-flex;
}
.menu button,.dropdown{
    width: 150px;
    height: 70px;
    border: 0;
    background: none;
    margin: 0 2rem;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: bolder;
    color: #6545A1;
}
.dropdown{
    display: inline-grid;
    text-align: center;
    align-items: center;
    position: relative;
    z-index: 1000;
}
.menu>button:hover,.dropdown:hover{
    filter: drop-shadow(1px 1px 0.5px #6545A1);
    cursor: pointer;
    color: #6545A1;
    box-shadow: inset 0 -5px 0px #6545A1;
}
.dropdown:hover .dropdown-menu{
    height: auto;
    opacity: 1;
    top:70px;
    transition: 0.3s;
    box-shadow: 1px 1px 2px #B19CD9,-1px 0px 2px;
    visibility: visible;
}
.dropdown-menu{
    position: absolute;
    background: white;
    top: 50px;
    opacity: 0;
    height: 0;
    visibility: hidden;
}
.dropdown-menu>button{
    color: #6545A1;
    margin: 0;
    cursor: pointer;
    font-size: 1rem;
}
.dropdown-menu>button:hover{
    color: #6545A1;
    border-left: 3px solid #6545A1;
    filter: drop-shadow(1px 1px 0.5px #6545A1);
}
/* boton de usuarios */
.iniciarUser input {
    border-radius: 12px;
    padding: 5px 10px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    margin-left: 1rem;
}
.iniciarUser input:first-child{
    border: 3px solid #6545A1;
    background: white;
    color: #6545A1;
}
.iniciarUser input:first-child:hover{
    color: white;
    background: #6545A1;
    box-shadow: 2px 2px 4px #B19CD9;
}
.iniciarUser input:first-child:active{
    border-color: #6545A1;
    background: #6545A1;
    box-shadow: none;
    color: white;
}
/* búton de comenzar en nav */
nav div input:last-child{
    background: #5CB85C;
    color: white;
    border: 3px solid #5CB85C;
}
nav div input:last-child:hover{
    box-shadow: 2px 2px 4px #1e3b1e;
}
nav div input:last-child:active{
    box-shadow: none;
    background: #ffff;
    border-color: #5CB85C;
    color: #5CB85C;
}
/* titulo */
.forosTitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    padding-top: 70px;
    font-size: 2rem;
    background-image: url(../img/bg-foro.png);
    color: #6545A1;
}
b{
    opacity: 0;
    position: relative;
    left: 2rem;
    top: 2rem;
    animation: titulo-in 0.5s ease-in-out forwards;
    animation-delay: var(--delay);
}
@keyframes titulo-in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        top: 0;
        left: 0;
    }
}
/* main */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url("../img/bg-foros.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* buscador de temas */
.buscar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 20vh;
}
.buscar>input{
    position: relative;
    height: 1rem;
    font-size: 1.5rem;
    padding: 10px;
    top: 0;
    outline: none;
    border: none;
    background: none;
    border-bottom:3px solid transparent;
    color: #6545A1;
    animation: buscador 2s ease-in-out forwards;
}
@keyframes buscador {
    from{
        opacity: 0;
        width: 0px;
    }
    to{
        opacity: 1;
        border-bottom:3px solid #6545A1;
        width: 800px;
    }
}
.buscar>i{
    position: relative;
    color: var(--busca-normal);
    background: none;
    font-size: 1.5rem;
    left: -30px;
    top: 2px;
}
i:hover{
    color: var(--busca-color-hover);
    cursor: pointer;
}
.buscar i:active{
    color: var(--busca-color-active);
}
/* temas y una manera de buscarlo */
.tema-bg{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background: white;
    box-shadow: 0 0 4px var(--busca-normal);
    padding: 20px 50px;
    border-radius: 20px;
    width: 900px;
    /* distancia relativa a la pantalla */
    perspective: 200px;
}
.tema{
    text-align: left;
    text-decoration: none;
    color: #6545A1;

    display: inline-flex;
    align-items: center;
    border-left: 10px solid #6545A1;
    box-shadow: 2px 4px 4px 0px var(--busca-normal),
                0px -0.5px 2px 0px var(--busca-normal);
    padding: 0 var(--padding-tema);
    margin-bottom: 2px;
    width: var(--width-tema);
    cursor: pointer;
    background: white;
    position: relative;
}
.tema:hover{animation: temaHover 100ms ease-out forwards;}
@keyframes temaHover {
    from{left:0}
    to{left: -20px;}
}
.temaTitulo{
    margin: 10px 0 0 0;
    font-size: 20px;
}
.temaTitulo+p{
    margin: 5px 0 10px 0;
}
.imgAutor{
    position: absolute;
    right: 30px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 50px;
}
.imgAutor>i:hover{
    filter: drop-shadow(-1px 1px 1px #6545a1);
}
/* add tema */
.bx-arrow-back{
    font-size: 2rem;
    margin-bottom: 10px;
    color: #6545A1;
    width: 32px;
}
.bx-arrow-back:hover{
    filter: drop-shadow(1px 1px 1px #6545a1);
}
/* formulario */
.add-tema{
    height: 0;
    opacity: 0;
    width: var(--width-tema);
    box-shadow: 2px 4px 4px 0px var(--busca-normal);
    padding: var(--padding-tema);
    border-top: 10px solid #6545A1;
    display: grid;
}
.add-tema>textarea,.add-tema>input[type="text"]{
    padding: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 0px var(--busca-normal) inset;
    margin-bottom: 30px;
    border: 0;
    border-left: 3px solid #6545A1;
    outline: 0;
}
.add-tema>label{
    display: inline-flex;
    justify-content: center;
}
input[type="file"]{
    opacity: 0;
    width: 0;
}
.bx-image-add{
    font-size: 50px;
    color: #6545A1;
}
.bx-image-add:hover{
    filter: drop-shadow(1px 1px 1px #6545a1);
}
/* input título */
.add-tema>input[type="text"]{
    height: 30px;
    font-size: 1.5rem;
    color: #6545A1;
}
/* input contenido */
.add-tema>textarea{
    height: 300px;
    font-size: 1rem;
    font-family: 'Montserrat';
    color: #6545A1;
}
.add-tema>input[type="submit"]{
    border: 0;
    font-size: 20px;
    padding: 10px;
    font-family: 'Montserrat';
    border-radius: 5px;
    color: white;
    background: #6545A1;
    cursor: pointer;
}
.add-tema>input[type="submit"]:hover{
    box-shadow: 2px 2px 4px 0px var(--busca-color-active);
}
/* tienes dudas */
.contacto{
    height: 230px;
    background: #D9D9D9;
    text-align: center;
    padding-top: 70px;
    font-weight: bold;
}
.contacto h1{
    margin: 0 0 32px 0;
    font-size: 2rem;
}
.contacto p{
    font-size: 1rem;
    margin: 24px 0;
}
.contacto input{
    background: #000;
    border-radius: 35px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 12px;
    width: 200px;
}
/* contacto */
.contact-div {
    background-color: #858484;
    color: white;
    text-align: center;
    padding: 50px 20px;
  }
  .contact-div h2 {
    font-size: 2em; /* Ajusta este valor según tu diseño */
    margin-bottom: 10px;
  }
  .contact-div p {
    font-size: 1em; /* Ajusta este valor según tu diseño */
    margin-bottom: 20px;
  }
  .contact-button {
    background-color: #333; /* Ajusta el color de fondo según tu diseño */
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .contact-button:hover {
    background-color: #555; /
  }
/* footer */
.footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer-column {
    margin: 10px;
    flex: 1;
    min-width: 150px;
  }
  .footer-column h3 {
    margin-bottom: 10px;
  }
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  .footer-column ul li {
    margin-bottom: 5px;
  }
  .footer-social-media {
    margin-top: 10px;
  }
  .footer-social-media img {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    
  }

  /* avisos legales */
.enlaces-adicionales {
    background-color: #000000;
    padding: 10px;
    text-align: center;
}

.enlaces-adicionales a {
    margin: 0 10px;
    color: #8d8989;
    text-decoration: none;
}

/* responsive */
@media screen and (max-width: 1700px){
    nav{
        height: 50px;
        padding: 10px 0;
    }
    nav a,li{
        font-size: 1rem;
    }
    .menu ul ul{
        right: -120px;
        top: 1.5rem;
    }
    .menu ul li:hover>ul{
        opacity: 1;
        top: 2rem;
    }
    nav div.iniciarUser input{
        font-size: 1rem;
        padding: 5px;
    }
}