/* barra de nav */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
    background: white;
    position: fixed;
    z-index: 1000;
}
nav div.usuario{
    display: flex;
    align-items: center;
}
nav div.usuario a{
    color: #6545A1;
}
nav div img{
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
}
nav a{
    color: #6545A1;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bolder;
    cursor: pointer;
}
    /*  menu de nav */
.menu{
    display: inline-flex;
}
.menu button,.dropdown{
    width: 150px;
    height: 70px;
    border: 0;
    background: none;
    margin: 0 2rem;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: bolder;
    color: #6545A1;
}
.dropdown{
    display: inline-grid;
    margin: 0 10px;
    text-align: center;
    align-items: center;
    position: relative;
}
.menu>button:hover,.dropdown:hover{
    filter: drop-shadow(1px 1px 0.5px #6545A1);
    cursor: pointer;
    color: #6545A1;
    box-shadow: inset 0 -5px 0px #6545A1;
}
.dropdown:hover .dropdown-menu{
    height: auto;
    opacity: 1;
    top:70px;
    transition: 0.3s;
    box-shadow: 1px 1px 2px #B19CD9,-1px 0px 2px;
    visibility: visible;
}
.dropdown-menu{
    position: absolute;
    background: white;
    top: 50px;
    opacity: 0;
    height: 0;
    visibility: hidden;
}
.dropdown-menu>button{
    color: #6545A1;
    margin: 0;
    cursor: pointer;
    font-size: 1rem;
}
.dropdown-menu>button:hover{
    color: #6545A1;
    border-left: 3px solid #6545A1;
    filter: drop-shadow(1px 1px 0.5px #6545A1);
}
/* boton de usuarios */
.iniciarUser input {
    border-radius: 12px;
    padding: 5px 10px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    margin-left: 1rem;
}
.iniciarUser input:first-child{
    border: 3px solid #6545A1;
    background: white;
    color: #6545A1;
}
.iniciarUser input:first-child:hover{
    color: white;
    background: #6545A1;
    box-shadow: 2px 2px 4px #B19CD9;
}
.iniciarUser input:first-child:active{
    border-color: #6545A1;
    background: #6545A1;
    box-shadow: none;
    color: white;
}
/* búton de comenzar en nav */
nav div input:last-child{
    background: #5CB85C;
    color: white;
    border: 3px solid #5CB85C;
}
nav div input:last-child:hover{
    box-shadow: 2px 2px 4px #1e3b1e;
}
nav div input:last-child:active{
    box-shadow: none;
    background: #ffff;
    border-color: #5CB85C;
    color: #5CB85C;
}

/*  menu de nav */
.menu{
    display: inline-flex;
}
.menu-mobile {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: #6545A1;
}
/* Estilos base que se aplican a todas las vistas */
.menu-mobile {
    display: none;
}
.menu button,.dropdown {
    width: 150px;
    height: 70px;
    border: 0;
    background: none;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: bolder;
    color: #6545A1;
}
.dropdown{
    display: inline-grid;
    text-align: center;
    align-items: center;
    position: relative;
    z-index: 1000;
}
.menu>button:hover,.dropdown:hover{
    filter: drop-shadow(1px 1px 0.5px #6545A1);
    cursor: pointer;
    color: #6545A1;
    box-shadow: inset 0 -5px 0px #6545A1;
}
.dropdown:hover .dropdown-menu{
    height: auto;
    opacity: 1;
    top:70px;
    transition: 0.3s;
    box-shadow: 1px 1px 2px #B19CD9,-1px 0px 2px;
    visibility: visible;
}
.dropdown-menu{
    position: absolute;
    background: white;
    top: 50px;
    opacity: 0;
    height: 0;
    visibility: hidden;
}
.dropdown-menu>button{
    color: #6545A1;
    margin: 0;
    cursor: pointer;
    font-size: 1rem;
}
.dropdown-menu>button:hover{
    color: #6545A1;
    border-left: 3px solid #6545A1;
    filter: drop-shadow(1px 1px 0.5px #6545A1);
}
 /* contacto */
 .contacto{
    padding-top: 10px;
    height: auto;
}
.contacto h1{
    margin-bottom: 10px;
    font-size: 1rem;
}
.contacto p{
    margin: 5px 0;
    font-size: 0.8rem;
}
.contacto>input{
    scale: 0.5;
}
/* footer */
footer{
    background: #000;
    color: white;
}
footer .elementos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.elementos div:first-child img{
    width: 95px;
    height: 95px;
}
.elementos div:first-child{
    display: flex;
    align-items: center;
}
.elementos div:nth-child(n+2) h2 {
    margin: 100px 0 32px 0;
}
.elementos div:nth-child(n+2) ul{
    list-style-type: none;
    margin: 0 0 120px 0;
    padding-inline-start: 0;
}
/* tienes dudas */
.contacto{
    height: 230px;
    background: #D9D9D9;
    text-align: center;
    padding-top: 70px;
    font-weight: bold;
}
.contacto h1{
    margin: 0 0 32px 0;
    font-size: 2rem;
}
.contacto p{
    font-size: 1rem;
    margin: 24px 0;
}
.contacto input{
    background: #000;
    border-radius: 35px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 12px;
    width: 200px;
    cursor: pointer;
}
/* Sociales */
.social a i {
    margin: 0.5rem;
    padding: 0;
}
/* linea horzontal */
footer>hr{
    margin: 0.5rem;
}
/* avisos legales */
.avisos{
    display: flex;
    justify-content: space-between;
}
.avisos pre{
    margin: 0 0.5rem;
    font-family: "Montserrat";
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    /* Solo se muestra el botón del menú en móviles */
    .menu-mobile {
        display: block;
    }

    /* Los elementos del menú están ocultos por defecto en móviles */
    .menu,
    .iniciarUser {
        display: none;
        /* otros estilos necesarios para móviles */
    }

    /* Estilos para cuando el menú está activo en móviles */
    .menu.active,
    .iniciarUser.active {
        display: block; /* o 'flex', según tu diseño */
        background-color: white; /* Fondo blanco para el menú desplegable */
        position: absolute; /* Posicionamiento absoluto para superponerse sobre el contenido */
        width: 100%; /* El menú ocupará todo el ancho */
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Sombra para destacar el menú */
        z-index: 1000; /* Asegúrate de que el menú está por encima de otros elementos */
        top: 70px; /* Ajusta esto para que se muestre debajo de tu barra de navegación */
    }

    /* Estilos para los botones dentro del menú móvil */
    .menu button,
    .iniciarUser input {
        display: block;
        width: 100%; /* Los botones ocuparán todo el ancho del menú desplegable */
        margin: 0; /* Elimina cualquier margen que puedan tener */
        box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
    }

    .dropdown{
        margin-left: 29vw;
    }
    .dropdown-menu{
        margin-right: 5vw;
        margin-top: 0.2vw;
    }
    
}

@media (min-width: 769px) {
    /* Asegúrate de que el menú y los botones de inicio de sesión/comenzar se muestren */
    .menu,
    .iniciarUser {
        display: flex; /* O el valor que sea adecuado para tu diseño en PC */
        /* Restablece cualquier otro estilo que pueda haber sido modificado por la vista móvil */
    }

    /* Restablece estilos para los botones que podrían haber sido modificados en la vista móvil */
    .menu button,
    .iniciarUser input {
        display: inline-block; /* O el display que corresponda para tu diseño en PC */
        width: auto; /* Restablece el ancho */
        margin: 0 10px; /* Ajusta el margen como sea necesario */
        box-sizing: border-box;
    }
}
/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .buscar{
        margin: 10px;
        margin-top: 50px;
    }
    footer .elementos {
        flex-direction: column; /* Cambia la dirección del flex a columna */
        align-items: center; /* Centra los elementos horizontalmente */
    }

    .elementos div {
        text-align: center; /* Centra el texto dentro de los div */
        margin-bottom: 20px; /* Añade espacio entre los elementos */
    }

    .elementos div:first-child img {
        width: 70px; /* Redimensiona el logo */
        height: 70px;
    }

    .elementos div:nth-child(n+2) h2 {
        margin: 20px 0; /* Ajusta el margen del título */
        font-size: 1.2rem; /* Ajusta el tamaño del título */
    }

    .elementos div:nth-child(n+2) ul {
        margin-bottom: 20px; /* Añade espacio entre las listas */
    }

    .social a i {
        font-size: 1.5rem; /* Ajusta el tamaño de los iconos sociales */
    }
    .avisos pre {
        white-space: pre-wrap; /* Rompe las líneas largas */
        word-wrap: break-word; /* Divide palabras largas */
        font-size: 0.8rem; /* Reduzca el tamaño de fuente */
        margin: 5px 0; /* Ajusta el margen */
    }
}
