@import url('https://fonts.googleapis.com/css2?family=Montserrat');
*,body,html{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
/* main */
main{
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    align-items: center;
    gap: 30px;
    padding-bottom: 50px;
}
main>h1{
    margin: 30px 0;
    color: #6545A1;
}
.informacion{
    width: 1000px;
    height: 500px;
    background-image: url("../img/bg-perfil.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    border-right: 10px solid #6545A1;
    box-shadow: 0 0 4px #818181;
}
.informacion>div:first-child{
    flex-grow: 3;
}
.bg-img{
    background: #ffffff75;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-img>img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.active{animation: perfilrotate 1s ease-in-out forwards;}
@keyframes perfilrotate{
    0%{}
    100%{
        transform: rotate3d(0,1,0,1turn);
    }
}
.btn{
    background: #ffffff75;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#editar,#logout,#cancela{
    border: 3px solid #6545A1;
    width: 200px;
    height: 45px;
    border-radius: 12px;
    color: #6545A1;
    font-size: 20px;
    font-weight: bold;
    background:none;
    cursor: pointer;
}
#editar:hover,#logout:hover{filter: drop-shadow(1px 1px 1px #6545A1);}
/* informaci'on de usuario */
.infor-user{
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(-10%);
    animation: perfil 1s ease-in-out forwards;
}
@keyframes perfil{
    0%{}
    100%{
        backdrop-filter: blur(5px);
        opacity: 1;
        transform: translateY(0);
    }
}
.infor-user>h3{
    width: 300px;
    font-size: 20px;
    font-weight: bolder;
    text-align: left;
    color: #6545A1;
    margin: 0;
    margin-top: 10px;
}
.infor-user>p{
    height: 40px;
    width: 300px;
    font-size: 20px;
    font-weight: bolder;
    text-align: left;
    color: #626262;
    background: none;
    margin-top: 5px;
    position: relative;
}
.bxs-credit-card-alt{
    font-size: 25px;
    position: absolute;
    right: 100px;
    color: #B19CD9;
}
.bxs-credit-card-alt:hover{
    color: #6545A1;
    filter: drop-shadow(1px 1px 1px #6545A1);
    cursor: pointer;
}
.infor-user>button{
    margin-top: 30px;
    width: 200px;
    height: 40px;
    border-radius: 12px;
    background: #6545A1;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.infor-user>button:hover{
    box-shadow:2px 2px 3px #626262;
}
/* cita */
#cita{
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    color: #6545A1;
    padding: 20px;
}
.img-informacion{
    display: flex;
    gap: 20px;
}
/* informacion de cita */
.informacion-cita>p{
    font-size: 20px;
}
.img-cita{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
/* editR perfil */
.editar{
    opacity: 0;
    width: 600px;
    height: 0;
    position: absolute;
    top: 100px;
    background: #d7d7d7ad;
    backdrop-filter: blur(10px);
    border-radius: 12px;
    box-shadow: 0 0 5px #626262;
    display:grid;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    color: #6545A1;
    z-index: -1;
}
.editar>label{
    text-align: left;
}
.editar>input{
    width: 500px;
    height: 50px;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
}
.addImg{display: flex;justify-content: center;}
.addImg>input[type="file"]{display: none;}
.bx-image-add{
    width: 35px;
    height: 35px;
    font-size: 35px;
    filter: drop-shadow( 1px 1px 1px #6545A1);
    cursor: pointer;
}
.editar>input[type="submit"]{
    color: white;
    background: #6545A1;
    cursor: pointer;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
.editar>input[type="submit"]:hover{
    box-shadow:1px 1px 4px #626262;
}
.editar>input[type="submit"]:active{
    color: #6545A1;
    border: 3px solid #6545A1;
    background: #ffff;
    box-shadow: none;
}
.editar>.bx-x{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
}
/* cambio de pago */
.pago{
    opacity: 0;
    width: 600px;
    height: 350px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 270px;
    right: 0;
    background: #9292927a;
    backdrop-filter: blur(10px);
    border-radius: 12px;
    box-shadow: 2px 2px 5px #363636;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: #6545A1;
    z-index: -1;
}
.card-border{
    border-radius: 12px 12px 0 0;
    margin-bottom: 20px;
    background: #6545A1;
    width: 100%;
    height: 20%;
}
.pago>hr{
    margin-bottom: 10px;
    background: #6545A1;
    width: 100%;
    height: 20px;
}
.pago>img{
    position: absolute;
    left: 20px;
    top: 8px;
    width: 50px;
    height: 50px;
    filter: drop-shadow(0 2px 1px #30224D);
    border: 3px solid #6545A1;
    border-radius: 50%;
}
.pago>input,.pago>p,.pago>fieldset>input{
    width: 100px;
    height: 40px;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    margin: 10px 20px;
}
.pago>input[type="text"],.pago>fieldset>input{
    box-shadow: inset 0 0 3px #000;
}
.pago>.tarjeta{
    width: 400px;
}
.pago>.nombre{
    width: 300px;
}
.btn-pago{
    font-size: 30px;
    margin-left: 30px;
}
.btn-pago>.bx{cursor: pointer;}
.pago>input[type="submit"]{
    margin: none;
    color: white;
    background: #6545A1;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    right: 40px;
    bottom: 30px;
    cursor: pointer;
}
.pago>input[type="submit"]:hover{
    box-shadow:1px 1px 4px #30224D;
}
.pago>input[type="submit"]:active{
    color: #6545A1;
    background: #ffff;
    box-shadow: none;
}
.pago>.bx-x{
    color: white;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
}
/* footer */
footer{
    background: #000;
    color: white;
}
footer .elementos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.elementos div:first-child img{
    width: 95px;
    height: 95px;
}
.elementos div:first-child{
    display: flex;
    align-items: center;
}
.elementos div:nth-child(n+2) h2 {
    margin: 100px 0 32px 0;
}
.elementos div:nth-child(n+2) ul{
    list-style-type: none;
    margin: 0 0 120px 0;
    padding-inline-start: 0;
}
/* Sociales */
.social a i {
    margin: 0.5rem;
    padding: 0;
}
/* linea horzontal */
footer>hr{
    margin: 0.5rem;
}
/* avisos legales */
.avisos{
    display: flex;
    justify-content: space-between;
}
.avisos pre{
    margin: 0 0.5rem;
    font-family: "Montserrat";
}