@import url('https://fonts.googleapis.com/css2?family=Montserrat');

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, input{
    font-family: 'Montserrat';
}
main{
    
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: rgb(248, 247, 245);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* enlace a perfil */
.usr-circulo{
    scale: 0;
    opacity: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid #6545A1;
}
/* login */
.box{
    position: relative;
    width: 100%;
    max-width: 1020px;
    height: 640px;
    background-color: white;
    border-radius: 3.3rem;
    box-sizing: 0 60px 40px -30px rgba(0, 0, 0, 0.30);
    
}

.inner-box {
    position:absolute;
    width: calc(100% - 4.1rem);
    height: calc(100% - 4.1rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*carusel de imagenes */
.carousel{
    position: absolute;
    height: 100%;
    width: 55%;
    left: 45%;
    top: 0;
    background-color: #DDCBFF;
    border-radius: 2rem;
    display: grid;
    grid-template-rows: auto 1fr;
    padding-bottom: 2rem;
    overflow: hidden;
    transition: .8s ease-in-out;
}

.images-wrapper {
    max-height: 50%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.image {
    height: 100%;
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    opacity: 0;
    transition: opacity 0.3s, transform 0.5s;
}

.img-1{
    transform: translate(0, -50px);
}

.img-2{
    transform: scale(0.4, 0.5);
    max-width: 524px;
    max-height: 382px;
}

.img-3{
    transform: scale(0.3) rotate(-20deg);
    max-width: 524px;
    max-height: 382px;
}

.image.show {
    opacity: 1;
    transform: none;
}

.text-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

.text-wrap{
    max-height: 2.2rem;
    overflow: hidden;
    margin-bottom: 2.5rem;
   
}

.text-group{
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: translateY(0);
}

.text-group h2{
    line-height: 2.2rem;
    font-weight: 600;
    font-size: 1.6rem;
}

.bullets {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bullets span{
    display: block;
    height: 0.5rem;
    width: 0.5rem;
    background-color: #aaa;
    margin: 0 0.25rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.bullets span.active{
    width: 1.1rem;
    background-color: #151111;
    border-radius: 1rem;
}

/*formulario register */
form{
    max-width: 360px;
    width: 100%;
    margin: 0, 0, 0, 0  ;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: opacity 0.02s 0.4s;
}

.forms-wrap{
    position: absolute;
    height: 100%;
    width: 45%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    transition: .8s ease-in-out;
}

form.sign-up-form{
    opacity: 0;
    pointer-events: none;
}

.logos{
    display: flex;
    align-items: center;
}
.logos img{ 
    width: 27px;
    margin: 0.3rem;
}

.logos h4{
    font-size: 1.1rem;
    margin-top: -9px;
    letter-spacing: -0.2px;
    color: #151111;
}

.heading h2{
    font-size: 2.1rem;
    font-weight: 600;
    color: #151111;
}

.heading h6{
 color: #bababa;
 font-weight: 400;
 font-size: .75rem;
 display: inline;
}

.toggle{
    color: #151111;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 500;
    transition: 0.3s;
}
.toggle:hover{
    color: purple;
   
}

.input-wrap {
    position: relative;
    height: 37px;
    margin-bottom: 2rem;
    
   
}

.input-field {
    position: absolute;
    width: 100%;   
    height: 100%;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid #bbb;
    padding: 0;
    font-size: 0.95rem;
    color: #151111;
}

label{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.95rem;
    color: #bbb;
    pointer-events: none;
    transition: 0.4s
    
}

main.sign-up-mode form.sign-in-form {
    opacity: 0;
    pointer-events: none;
}

main.sign-up-mode form.sign-up-form {
    opacity: 1;
    pointer-events: all;
}


main.sign-up-mode .forms-wrap {
    left: 60%;
}

main.sign-up-mode .carousel {
    left: 0%;
}

.input-field.active {
    border-bottom-color: #151111;
}

.input-field.active + label {
    font-size: 0.75rem;
    top: -2px;
}

.sign-btn{
    display: inline-block;
    width: 100%;
    height: 43px;
    background-color: #151111;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    transition: 0.3s;
    
    
}

.sign-btn:hover{
    background-color: #8371fd;
}

.text{
    color: #bbb;
    font-size: 0.7;
}

.text a{
    color: #bbb;
    transition: 0.3s;
}

.text a:hover{
    color: #8371fd;
}


/* responsiveness*/
@media (max-width: 850px) {
    .box {
       height: auto;
       max-width: 550px;
       overflow: hidden;
    }

    .elementos{
        height: auto;
        max-width: 550px;
        overflow: hidden;
    }

    .inner-box{
        position: static;
        transform: none;
        width: revert;
        height: revert;
        padding: 2rem;
    }

    .forms-wrap{
        position: revert;
        width: 100%;
        height: auto;
    }

    form{
        max-width: revert;
        padding: 1.5rem 2.5rem 2rem;
        transition: transform 0.8s ease-in-out, opacity .45s linear ;
    }

    .heading{
        margin: 2rem 0;
    }

    form.sign-up-form{
        transform: translateX(100%);
    }

    main.sign-up-mode form.sign-in-form{
        transform: translateX(-100%);
    }

    main.sign-up-mode form.sign-up-form{
        transform: translateX(0%);
    }

    .carousel{
        position: revert;
        height: auto;
        padding: 3rem 2rem;
        display: flex;
        width: 100%;
    }

    .images-wrapper{
        display: none;
    }

    .text-slider{
        width: 100%;
    }
}

@media (max-width: 530px) {
    main{
        padding: 1rem;
    }

    .box{
        border-radius: 2rem;
    }

    .inner-box{
        padding: 1rem;
    }

    .carousel{
        padding: 1.5rem 1rem;
        border-radius: 1.6rem;
    }

    .text-wrap{
        margin-bottom: 1rem;
    }

    .text-group h2 {
        font-size: 1.2rem;
    }

    form{
        padding: 1rem 2rem 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
    .footer-column {
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
      width: 100%;
      flex-direction: column;
    }
    .nav-links a {
      text-align: left;
    }
    .navbar-toggle {
      display: flex;
    }
  }
