@import url('https://fonts.googleapis.com/css2?family=Montserrat');
:root{
    --busca-normal:#757575;
    --busca-color-hover:#000;
    --busca-color-active:#2E8B57;
    /* ventana y tema */
    --padding-tema:30px;
    --margin-tema:40px;
    --width-tema:800px;
    --height-tema:200px;
    --width-ventana:900px;
    --height-ventana:380px;
}
body,html{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
/* barra de navegación */
nav{
    display: flex;
    justify-content: space-around;
    gap: 20%;
    align-items: center;
    width: 100%;

    height: 70px;
    position: fixed;
    z-index: 1;
    background: white;
}
nav div.usuario{
    display: flex;
    align-items: center;
}
nav div.usuario a{
    color: #6545A1;
}
nav div img{
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
}
nav a,li{
    color: #6545A1;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bolder;
    cursor: pointer;
}
    /*  menu de nav */
nav .menu ul{
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
    display: flex;
    position: relative;
    gap: 20%;
}
.menu ul ul{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    transition: 0.5s ease-in-out;
    width: 250px;
    padding: 10px 20px;
    right: -60px;
    top: 2rem;
    background: white;
}
.menu ul li:hover>ul{
    opacity: 1;
    top: 3rem;
}
.menu ul li:hover ul li a{
    /* color: white; */
}
.menu ul li:hover{
    border-bottom: 5px solid #B19CD9;
}
/* boton de usuarios */
.iniciarUser input {
    border: 2px solid #B19CD9;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
.iniciarUser input:first-child{
    background: white;
    color: #B19CD9;
}
.iniciarUser input:first-child:hover{
    color: white;
    background: #B19CD9;
    box-shadow: 2px 2px 4px #6545A1;
}
.iniciarUser input:first-child:active{
    border-color: #6545A1;
    background: #6545A1;
    box-shadow: none;
    color: white;
}
/* bóton de comenzar en navegación */
nav div input:last-child{
    background: #B19CD9;
    color: white;
}
nav div input:last-child:hover{
    box-shadow: 2px 2px 4px #6545A1;
}
nav div input:last-child:active{
    box-shadow: none;
    background: #6545A1;
    border-color: #6545A1;
}
/* titulo */
.forosTitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    padding-top: 70px;
    font-size: 2rem;
}
b{
    opacity: 0;
    position: relative;
    left: 2rem;
    top: 2rem;
    animation: titulo-in 0.5s ease-in-out forwards;
    animation-delay: var(--delay);
}
@keyframes titulo-in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        top: 0;
        left: 0;
    }
}
/* buscador de temas */
.buscar{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    left: -30px;
    top: 10px;
}
.buscar input{
    position: relative;
    height: 1rem;
    width: 800px;
    font-size: 1rem;
    padding: 10px;
    animation: input-up 1s ease-in-out forwards;
    top: 0;
}
.buscar i{
    position: relative;
    color: var(--busca-normal);
    background: none;
    font-size: 1.5rem;
    left: -30px;
    top: 10px;
}
i:hover{
    color: var(--busca-color-hover);
    cursor: pointer;
}
.buscar i:active{
    color: var(--busca-color-active);
}
/* temas y una manera de buscarlo */
center{
    padding: 70px 0;
}
.tema{
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0,0,0,50%);
    padding: 0 var(--padding-tema);
    margin: var(--margin-tema) 0 ;
    width: var(--width-tema);
    height: var(--height-tema);
    cursor: pointer;
    background: white;
}
.tema h1{
    font-size: 20px;
}
.descripcion{

    margin: 2rem 0;
}
.imgAutor{
    border-radius: 50%;
    height: 140px;
    width: 140px;
}
    /* artículo escondida */
.descripcionClic{
    display: none;
    background: white;
    padding: 3rem;
    cursor: default;
    box-shadow: 0px 0px 4px gray;
    border: 1px solid;
}
.img_des{
    width: 800px;
    height: 300px;
}
.descripcionClic .responder{
    padding: 5px 10px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}
.descripcionClic .responder .bx-share{
    margin-left: 10px;
    font-size: 1rem;
}
    /* comentario de artículo */
.comentarios_arti{
    margin: 50px 0;
}
.comentario_arti{
    display: flex;
    align-items: center;
    text-align: left;
    box-shadow: 0 0 4px grey;
    padding: 20px 30px;
    margin: 30px 0;
}
.comentario_arti img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}
.comentario_arti p,h2{
    margin: 5px 0;
}
    /*  */
/* tienes dudas */
.contacto{
    height: 230px;
    background: #D9D9D9;
    text-align: center;
    padding-top: 70px;
    font-weight: bold;
}
.contacto h1{
    margin: 0 0 32px 0;
    font-size: 2rem;
}
.contacto p{
    font-size: 1rem;
    margin: 24px 0;
}
.contacto input{
    background: #000;
    border-radius: 35px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 12px;
    width: 200px;
}
/* footer */
footer{
    background: #000;
    color: white;
}
footer .elementos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.elementos div:first-child img{
    width: 95px;
    height: 95px;
}
.elementos div:first-child{
    display: flex;
    align-items: center;
}
.elementos div:nth-child(n+2) h2 {
    margin: 100px 0 32px 0;
}
.elementos div:nth-child(n+2) ul{
    list-style-type: none;
    margin: 0 0 120px 0;
    padding-inline-start: 0;
}
/* Sociales */
.social a svg {
    width: 1rem;
    height: 1rem;
    margin: 0.5rem;
    padding: 0;
}
/* linea horzontal */
footer hr{
    margin: 0.5rem;
}
/* avisos legales */
.avisos{
    display: flex;
    justify-content: space-between;
}
.avisos pre{
    margin: 0 0.5rem;
    font-family: "Montserrat";
}
/* responsive */
@media screen and (max-width: 1700px){
    nav{
        height: 50px;
        padding: 10px 0;
    }
    nav a,li{
        font-size: 1rem;
    }
    .menu ul ul{
        right: -120px;
        top: 1.5rem;
    }
    .menu ul li:hover>ul{
        opacity: 1;
        top: 2rem;
    }
    nav div.iniciarUser input{
        font-size: 1rem;
        padding: 5px;
    }
}