@import url('https://fonts.googleapis.com/css2?family=Montserrat');
:root{
    --cartaH:350px;
    --border: 2px solid;
    --border-image: linear-gradient(135deg,#D3D3D3,#6545A1);
    --border-image-slice: 1;
    --box-shadow: 2px 2px 4px #6545A1;
    --scale: scale(0.95);
    --carta1H:480px;
    --carta2H:450px;
    --carta3H:420px;
    /* párrafo */
    --parrafo:0;
    --parrafo1H:134px;
    --parrafo2H:80px;
    --parrafo3H:76px;
    /* carta responsive */
    --cartaW:600px;
    --cartaWCambiar:900px;
}
body,html{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
/* barra de navegación */
nav{
    display: flex;
    justify-content: space-around;
    gap: 20%;
    align-items: center;
    width: 100%;

    height: 70px;
    position: fixed;
    z-index: 1;
    background: white;
}
nav div.usuario{
    display: flex;
    align-items: center;
}
nav div.usuario a{
    color: #6545A1;
}
nav div img{
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
}
nav a,li{
    color: #6545A1;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bolder;
    cursor: pointer;
}
    /*  menu de nav */
nav .menu ul{
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
    display: flex;
    position: relative;
    gap: 20%;
}
.menu ul ul{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    background: white;
    transition: 0.5s ease-in-out;
    width: 250px;
    padding: 10px 20px;
    right: -60px;
    top: 2rem;
}
.menu ul li:hover>ul{
    opacity: 1;
    top: 3rem;

}
.menu ul li:hover{
    border-bottom: 5px solid #B19CD9;
}
/* boton de usuarios */
.iniciarUser input {
    border: 2px solid #B19CD9;
    padding: 5px 10px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    margin-left: 1rem;
}
.iniciarUser input:first-child{
    background: white;
    color: #B19CD9;
}
.iniciarUser input:first-child:hover{
    color: white;
    background: #B19CD9;
    box-shadow: 2px 2px 4px #6545A1;
}
.iniciarUser input:first-child:active{
    border-color: #6545A1;
    background: #6545A1;
    box-shadow: none;
    color: white;
}
/* búton de comenzar en navegación */
nav div input:last-child{
    background: #B19CD9;
    color: white;
}
nav div input:last-child:hover{
    box-shadow: 2px 2px 4px #6545A1;
}
nav div input:last-child:active{
    box-shadow: none;
    background: #6545A1;
    border-color: #6545A1;
}
/* introducción principal */
.introduccion1{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    height: 750px;
    padding-top: 100px;
}
.introduccion1 div{
    padding: 30px;
}
/* título */
.introduccion1 #titulo{
    margin: 3rem 0;
    padding: 0;
    font-size: 3rem;
    font-family: 'Montserrat';
}
/* animación de título */
.introduccion1 #titulo span{
    display: inline-block;
    overflow: hidden;
    width: 0;
    color: #6545A1;
    animation: 1s text-in ease-in-out forwards;
    animation-delay: var(--delay);
}
@keyframes text-in {
    from{
        width: 0;
    }
    to{
        width: auto;
    }
}
/* la introducción corta */
.introduccion1 div:first-child ul{
    font-size: 1.5rem;
    padding-inline-start: 20px;
    color: #6545A1;
}
.introduccion1 div:first-child ul li{
    padding-bottom: 1.5rem;
}
.introduccion1 div:first-child ul li span{
    color: #48A45A;
    font-weight: bold;
}
/* 1º imagen */
.introduccion1 div:last-child img{
    background: #000;
    width: 600;
    height: 600px;
}
/* búton de comenzar ahora */
.introduccion1 div button{
    font-size: 1.5rem;
    border: 2px solid #6545A1;
    background: white;
    padding: 20px 50px;
    color: #6545A1;
    cursor: pointer;
}
.introduccion1 div button:hover{
    background: #6545A1;
    color: white;
    box-shadow: 5px 5px 4px #B19CD9;
}
.introduccion1 div button:active{
    box-shadow: none;
}
/* introducción 2 */
.introduccion2{
    background: #2E8B57;
    display: flex;
    justify-content: center;
    gap: 5rem;
    font-weight: bolder;
    color: white;
}
.introduccion2 div {
    width: 630px;
    height: 600px;
    display: grid;
    align-content: center;
}
.introduccion2 div:first-child div{
    background-image: url(../img/img2.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5%;
    width: 500px;
    height: 400px;
}
.introduccion2 div:last-child p{
    font-weight: normal;
}
/* recurso */
.recursos{
    padding: 3rem 0;
}
.recursos h1{
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin: 0 0 3rem 0;
}
.recursos h1 b{
    color: #48A45A;
}
.cartas{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
/* animación de carta */
.cartas .carta{
    /* border-radius: 5px; */
    width: 420px;
    height: 350px;
    padding: 0.5rem;
    background: #F2F2F2;
    border: 1px solid #D9D9D9;
    transition: 0.5s ease-in-out;
}

/* carta1 */
.carta1{
    animation: heightVolver 0.5s ease-in-out forwards;
}
@keyframes heightVolver {
    from {
        height: var(--carta1H);
    }
    to{
        height: var(--cartaH);
    }
}
.active1{
    transform: var(--scale);
    animation: heightAuto 0.5s ease-in-out forwards;
}
@keyframes heightAuto {
    from {
        height: var(--cartaH);
    }
    to{
        border: var(--border);
        border-image: var(--border-image);
        border-image-slice: var(--border-image-slice);
        box-shadow: var(--box-shadow);
        height: var(--carta1H);
    }
}
/* carta2 */
.carta2{
    animation: heighVolver2 0.5s ease-in-out forwards;
}
@keyframes heighVolver2 {
    from {
        height: var(--carta2H);
    }
    to{
        height: var(--cartaH);
    }
}
.active2{
    transform: var(--scale);
    animation: heightAuto2 0.5s ease-in-out forwards;
}
@keyframes heightAuto2 {
    from {
        height: var(--cartaH);
    }
    to{
        border: var(--border);
        border-image: var(--border-image);
        border-image-slice: var(--border-image-slice);
        box-shadow: var(--box-shadow);
        height: var(--carta2H);
    }
}
/* carta 3 */
.carta3{
    animation: heighVolver3 0.5s ease-in-out forwards;
}
@keyframes heighVolver3 {
    from {
        height: var(--carta3H);
    }
    to{
        height: var(--cartaH);
    }
}
.active3{
    transform: var(--scale);
    animation: heightAuto3 0.5s ease-in-out forwards;
}
@keyframes heightAuto3 {
    from {
        height: var(--cartaH);
    }
    to{
        border: var(--border);
        border-image: var(--border-image);
        border-image-slice: var(--border-image-slice);
        box-shadow: var(--box-shadow);
        height: var(--carta3H);
    }
}
/*  */
.cartas div div{
    padding: 0%;
    border-radius: 0;
    width: 400px;
    height: 170px;
    background-size: cover;
}
div.carta1 center div{
    background-image: url(../img/img3.png);
}
div.carta2 center div{
    background-image: url(../img/img4.png);
}
div.carta3 center div{
    background-image: url(../img/img5.png);
}
.cartas div h1{
    color: #6545A1;
    display: flex;
    justify-content: flex-start;
    margin: 1rem;
    font-size: 1.5rem;
    text-align: left;
}
.cartas div p{
    margin: 0 16px;
    height: 0;
    overflow: hidden;
    color: #6545A1;
}
/* animación de parráfo de carta1 */
.carta1 p{
    animation: textEsconder 0.5s ease-in-out forwards;
}
@keyframes textEsconder {
    from {

        height: var(--parrafo1H);
    }
    to{
        height: var(--parrafo);
    }
}
.active1 p{
    animation: textPresente 0.5s ease-in-out forwards;
}
@keyframes textPresente {
    from {
        height: var(--parrafo);
    }
    to{

        height: var(--parrafo1H);
    }
}
/* animación de parráfo de carta2 */
.carta2 p{
    animation: textEsconder2 0.5s ease-in-out forwards;
}
@keyframes textEsconder2 {
    from {

        height: var(--parrafo2H);
    }
    to{
        height: var(--parrafo);
    }
}
.active2 p{
    animation: textPresente2 0.5s ease-in-out forwards;
}
@keyframes textPresente2 {
    from {
        height: var(--parrafo);
    }
    to{

        height: var(--parrafo2H);
    }
}
/* parráfo de carta3 */
.carta3 p{
    animation: textEsconder3 0.5s ease-in-out forwards;
}
@keyframes textEsconder3 {
    from {

        height: var(--parrafo3H);
    }
    to{
        height: var(--parrafo);
    }
}
.active3 p{
    animation: textPresente3 0.5s ease-in-out forwards;
}
@keyframes textPresente3 {
    from {
        height: var(--parrafo);
    }
    to{

        height: var(--parrafo3H);
    }
}
/* etiqueta a de cartas */
.cartas div a{
    color: #2E8B57;
    height:40px;
    border: none;
    font-size: 16px;
    font-weight: normal;
    margin-left: 30px;
    position: relative;
    bottom: -60px;
    text-decoration: none;
}
.cartas div a:hover{
    text-decoration: underline;
}
.cartas div a:active{
    bottom: -62px;
    left: 2px;
}
/* Opiniones de Clientes */
.opiniones{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #4682B4;
    height: 353px;
}
.tituloComentarios{
    width: 100vw;
}
.tituloComentarios h1{
    font-size: 48px;
    margin: 0 0 3rem 0;
}
.tituloComentarios h1 b{
    color: white;
}
.opiniones .comentarios{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.flecha{
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    /* position: absolute; */
    /* right: 40px; */
}
.flecha i:active{
    color: #555555;
}
#flecha1{ color: #D3D3D3;}
/* animacion de cartas */
.outer{
    width: 1400px;
    height:130px ;
    overflow: hidden;
    position: relative;
}
.cartaList{
    display: flex;
    margin: 0;
    padding-inline-start: 0;
    position: absolute;
}
.comentario{
    display: flex;
    background: white;
    padding: 0 20px;
    border-radius: 2rem;
    height: 120px;
    width: 300px;
    margin:5px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}
.verMas h4{
    text-align: center;
}
/*  */
.comentario div:first-child{
    display: grid;
    align-items: center;
}
.comentario div:first-child img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow:0 0 2px 5px #3C5DD1;
}
.comentario div:last-child{
    text-align: start;
    display: grid;
    place-content: center;
}
.comentario div:last-child h4{
    font-size: 1rem;
    margin:0;
    padding-left: 10px;
}
.comentario div:last-child p{
    margin: 0;
    font-size: 10px;
    padding-left: 10px;
}
.comentario div:last-child p:last-child{
    font-size: 1rem;
}
/* tienes dudas */
.contacto{
    height: 230px;
    background: #D9D9D9;
    text-align: center;
    padding-top: 70px;
    font-weight: bold;
}
.contacto h1{
    margin: 0 0 32px 0;
    font-size: 2rem;
}
.contacto p{
    font-size: 1rem;
    margin: 24px 0;
}
.contacto input{
    background: #000;
    border-radius: 35px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 12px;
    width: 200px;
}
/* footer */
footer{
    background: #000;
    color: white;
}
footer .elementos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.elementos div:first-child img{
    width: 95px;
    height: 95px;
}
.elementos div:first-child{
    display: flex;
    align-items: center;
}
.elementos div:nth-child(n+2) h2 {
    margin: 100px 0 32px 0;
}
.elementos div:nth-child(n+2) ul{
    list-style-type: none;
    margin: 0 0 120px 0;
    padding-inline-start: 0;
}
/* Sociales */
.social a svg {
    width: 1rem;
    height: 1rem;
    margin: 0.5rem;
    padding: 0;
}
/* linea horzontal */
footer hr{
    margin: 0.5rem;
}
/* avisos legales */
.avisos{
    display: flex;
    justify-content: space-between;
}
.avisos pre{
    margin: 0 0.5rem;
    font-family: "Montserrat";
}
/* responsive */
@media screen and (max-width: 1700px){
    nav{
        height: 50px;
        padding: 10px 0;
    }
    nav a,li{
        font-size: 1rem;
    }
    .menu ul ul{
        right: -120px;
        top: 1.5rem;
    }
    .menu ul li:hover>ul{
        opacity: 1;
        top: 2rem;
    }
    nav div.iniciarUser input{
        font-size: 1rem;
        padding: 5px;
    }
}
@media screen and (max-width: 1680px) {
    /* introducción 1º */
    .introduccion1{
        height: 550px;
        padding-top: 70px;
    }
    .introduccion1 #titulo{
        font-size: 2rem;
        margin: 2rem 0;
    }
    .introduccion1 ul li{
        font-size: 1rem;
    }
    .introduccion1 div:last-child img{
        width: 300px;
        height: 300px;
    }
    .introduccion1 div:first-child button{
        width: 200px;
        height: 30px;
        font-size: 1rem;
        padding: 0px 25px;
    }
    /* introducción 2º */
    .introduccion2{
        gap: 2.5rem;
    }
    .introduccion2 div:first-child{
        width: 400px;
    }
    .introduccion2 div:first-child div{
        width: 300px;
        height: 300px;
    }
    .introduccion2 div:last-child{
        width: 500px;
    }
    .introduccion2 h1{
        font-size: 1.5rem;
    }
    .introduccion2 p{
        font-size: 1rem;
    }
    /* recurso */
    .recursos h1{
        font-size: 2rem;
    }
    .cartas{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 500px;
    }
    .cartas .responsiveCarta{
        display: flex;
        width: 600px;
        padding: 0;
        transition: 1s;
    }
    .cartas .responsiveCarta div{
        box-shadow: none;
        width: 150px;
        height: 100%;
    }
    .cartas .responsiveCarta h1{
        font-size: 1.5rem;
        margin: 1rem;
        font-weight: normal;
        width: 250px;
    }
    .cartas .responsiveCarta p{
        font-size: 1rem;
        margin: 1rem;
        height: 0;
        width: 0px;
    }
    /* animacion de carta responsive */
    @keyframes responsiveHeighV {
        from {
            border: var(--border);
            border-image: var(--border-image);
            border-image-slice: var(--border-image-slice);
            box-shadow: var(--box-shadow);
            width: var(--cartaWCambiar);
        }
        to{
            width: var(--cartaW);
        }
    }
    @keyframes responsiveHeighA {
        from {
            width: var(--cartaW);
        }
        to{
            border: var(--border);
            border-image: var(--border-image);
            border-image-slice: var(--border-image-slice);
            box-shadow: var(--box-shadow);
            width: var(--cartaWCambiar);
        }
    }
    /* carta1 */
    .carta1{
        animation: responsiveHeighV 0.5s ease-in-out forwards;
    }
    .active1{
        animation: responsiveHeighA 0.5s ease-in-out forwards;
    }
    /* carta2 */
    .carta2{
        animation: responsiveHeighV 0.5s ease-in-out forwards;
    }
    .active2{
        animation: responsiveHeighA 0.5s ease-in-out forwards;
    }
    /* carta3 */
    .carta3{
        animation: responsiveHeighV 0.5s ease-in-out forwards;
    }
    .active3{
        animation: responsiveHeighA 0.5s ease-in-out forwards;
    }
    /* animacion de parrafo de carta responsive */
    @keyframes widthVolver {
        from{
            width: 100%;
            height: 100px;
        }
        to{
            width: 0;
            height: 0;
        }
    }
    @keyframes widthCambiar {
        from{
            width: 0;
            height: 0;
        }
        to{
            width: 100%;
            height: 100px;
        }
    }
    /* carta1 */
    .carta1 p{
        animation: widthVolver 0.5s ease-in-out forwards;
    }
    .active1 p{
        animation: widthCambiar 0.5s ease-in-out forwards;
    }
    /* carta2 paraafo */
    .carta2 p{
        animation: widthVolver 0.5s ease-in-out forwards;
    }
    .active2 p{
        animation: widthCambiar 0.5s ease-in-out forwards;
    }
    /* carta3 */
    .carta3 p{
        animation: widthVolver 0.5s ease-in-out forwards;
    }
    .active3 p{
        animation: widthCambiar 0.5s ease-in-out forwards;
    }
    /* comentarios responsive */
    .tituloComentarios h1{
        font-size: 2rem;
    }
    .outer{
        width: 1000px;
        height: 110px;
    }
    .comentario{
        width: 200px;
        height: 100px;
    }
    .comentario div:first-child img{
        width: 50px;
        height: 50px;
    }
}
@media screen and (max-width:1230px) {
    /* comentarios responsive */
    .tituloComentarios h1{
        font-size: 2rem;
    }
    .outer{
        width: 600px;
        height: 110px;
    }
    .comentario{
        width: 100px;
        height: 100px;
    }
    .comentario div:last-child h4{
        padding-left: 0;
        font-size: 1rem;
    }
    .comentario div:last-child p{
        padding-left: 0;
        font-size: 0px;
    }
    .comentario div:last-child p:last-child{
        font-size: 10px;
    }
    .comentario div:first-child img{
        display: none;
    }
    .verMas{
        justify-content: center;
    }
    .verMas div h4:first-child{
        font-size: 0;
    }
}