@import url('https://fonts.googleapis.com/css2?family=Montserrat');
body,html{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

/* main */
main{
    text-align: center;
}
@keyframes textIn {
    0%{}
    100%{
    letter-spacing: 0;
    opacity: 1;
    }
}

/* Buscador */
.califica{
    width: 100%;
    height: 10vh;
    margin-top: 5.5rem;
    background: #6545A1;
    color: #ffff;
    font-size: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bx-menu{
    cursor: pointer;
    z-index: 100;
}
.selecciones{
    display: flex;
}
select{
    height: 50px;
    /* width: 150px; */
    margin: 0;
    padding: 0%;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: bold;
    border: 0;
    margin-right: 10px;
    background: none;
    outline: none;
    cursor: pointer;
    color: #ffff;
}
select:hover{
    box-shadow:inset 0 -5px  #ffff;
}
/* buscador */
.buscar{
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
}
.buscador{
    width: 40vw;
    height: 50px;
    border-radius: 30px;
    outline: none;
    font-size: 30px;
    color: #6545A1;
    border: 3px solid #6545A1;;
    padding: 0 20px;
}
.bx-search{
    position: absolute;
    font-size: 30px;
    color: #B19CD9;
    right: 20px;
}
/* contenido */
.contenido{
    height: 90vh;
    background-image: url(../img/bg-terapeuta2.png);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    position: relative;
}

/* nav bar */
aside{
    width: 20%;
    left: -20%;
    top: 0;
    height: 100%;
    background: #ffff;
    position: absolute;
    color: #6545A1;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 2px 0px 2px #868686;
}
aside>div{
    display: grid;
    width: 100%;
}
aside>div>label{
    font-size: 24px;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
aside>div>label>input{
    cursor: pointer;
    scale: 1.5;
    margin: 0 10px;
}
aside>hr{
    width: 80%;
    height: 2px;
    background: #6545A1;
}
aside>img{
    width: 150px;
    height: 150px;
    filter: drop-shadow(0px 10px 2px #B19CD9);
}
.bx-x{
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
}
/* section */
section{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    background: #ffffffbc;
}
.scrollbar{
    width: 1200px;
    overflow-y: scroll;
    height: 800px;
    /* scroll suave*/
    scroll-snap-type: y mandatory;
}
::-webkit-scrollbar {
    width: 10px; 
}
::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb {
    background: #6545A1; 
}
.tarjeta-tera{
    /* scroll suave */
    scroll-snap-align: center;
    /*  */
    background: #ffff;
    display: inline-flex;
    width: 960px;
    padding: 30px 50px;
    border-top: 10px solid #6545A1;
    margin: 30px 0;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0 0 5px #646464;
}
.tarjeta-tera h3{
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    color: #6545A1;
}
.tarjeta-tera p{ 
    margin:5px 0;
}
/* la primera informacion de tarjeta */
.infor1{
    border-right: 5px solid #6545A1;
    padding-right: 20px;
}
.infor1>div{display: flex;}
/* imagen y informacion de terapeuta */
.img-des{
    text-align: start;
    gap: 20px;
}
.img-tera>img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.img-tera{position: relative;}
.img-tera>img:last-child{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    border: 5px solid #ffff;
}
/* idiomas y precio */
.idiomas,.precio{
    justify-content: space-between;
    margin: 10px 40px;
}
.idiomas+hr{margin: 0;}
.precio>button{
    border: 0;
    font-family: 'Montserrat';
    font-size: 1rem;
    background: #B19CD9;
    border-radius: 10px;
    color: #ffff;
}
/* horario */
.infor2{
    margin-left: 20px;
    display: grid;
    justify-content: center;
    align-items: baseline;
    cursor: default;
}
td{
    columns: 100px;
}
.infor2>div{
    overflow: auto;
    height: 150px;
    box-shadow: 0 0 3px 1px inset #412c67;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.infor2>div>table tr:nth-child(2n+1) {
    text-decoration: line-through;
}
.infor2>div>table tr:nth-child(2n)>td:hover {
    cursor: pointer;
    background: #B19CD9;
    color: #ffff;
}
/* tienes dudas */
.contacto{
    height: 230px;
    background: #D9D9D9;
    text-align: center;
    padding-top: 70px;
    font-weight: bold;
}
.contacto h1{
    margin: 0 0 32px 0;
    font-size: 2rem;
}
.contacto p{
    font-size: 1rem;
    margin: 24px 0;
}
.contacto input{
    background: #000;
    border-radius: 35px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 12px;
    width: 200px;
    cursor: pointer;
}
/* footer */
footer{
    background: #000;
    color: white;
}
footer .elementos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.elementos div:first-child img{
    width: 95px;
    height: 95px;
}
.elementos div:first-child{
    display: flex;
    align-items: center;
}
.elementos div:nth-child(n+2) h2 {
    margin: 100px 0 32px 0;
}
.elementos div:nth-child(n+2) ul{
    list-style-type: none;
    margin: 0 0 120px 0;
    padding-inline-start: 0;
}
/* Sociales */
.social a i {
    margin: 0.5rem;
    padding: 0;
}
/* linea horzontal */
footer>hr{
    margin: 0.5rem;
}
/* avisos legales */
.avisos{
    display: flex;
    justify-content: space-between;
}
.avisos pre{
    margin: 0 0.5rem;
    font-family: "Montserrat";
}