@import url('https://fonts.googleapis.com/css2?family=Montserrat');
body,html{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

/* main */
main{
    text-align: center;
    height: auto;
}
@keyframes textIn {
    0%{}
    100%{
    letter-spacing: 0;
    opacity: 1;
    }
}

.contenido{
    height: auto;
}


/* Buscador */
.califica{
    width: 100%;
    height: 10vh;
    padding-top: 1.4em;
    background: #6545A1;
    color: #ffff;
    font-size: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.califica .menu {
    margin-top: 10px;
}
.bx-menu{
    cursor: pointer;
    z-index: 100;
}
.selecciones{
    display: flex;
}
select{
    height: 50px;
    /* width: 150px; */
    margin: 0;
    padding: 0%;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: bold;
    border: 0;
    margin-right: 10px;
    background: none;
    outline: none;
    cursor: pointer;
    color: #ffff;
}
select:hover{
    box-shadow:inset 0 -5px  #ffff;
}
/* buscador */
.buscar{
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
}
.buscador{
    width: 40vw;
    height: 50px;
    border-radius: 30px;
    outline: none;
    font-size: 30px;
    color: #6545A1;
    border: 3px solid #6545A1;;
    padding: 0 20px;
}
.bx-search{
    position: absolute;
    font-size: 30px;
    color: #B19CD9;
    right: 20px;
}
/* contenido */
.contenido{
    height: 90vh;
    background-image: url(../img/bg-terapeuta2.png);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    position: relative;
}

/* nav bar */
aside{
    padding-top: 80px;
    width: 20%;
    left: -20%;
    top: 0;
    height: 100%;
    background: #ffff;
    position: absolute;
    color: #6545A1;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 2px 0px 2px #868686;
}
aside>div{
    display: grid;
    width: 100%;
}
aside>div>label{
    font-size: 24px;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
aside>div>label>input{
    cursor: pointer;
    scale: 1.5;
    margin: 0 10px;
}
aside>hr{
    width: 80%;
    height: 2px;
    background: #6545A1;
}
aside>img{
    width: 150px;
    height: 150px;
    filter: drop-shadow(0px 10px 2px #B19CD9);
}
.bx-x{
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
}

#formularioFiltro label{
    font-size: 24px;
}
#formularioFiltro p{
    text-decoration: underline;
}
/* section */
section{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    background: #ffffffbc;
}
select option {
    color: black;
}
.scrollbar {
    width: 100%; /* Ajusta el ancho para que ocupe todo el espacio disponible */
    max-height: 600px; /* Establece una altura máxima para el scrollbar */
    overflow-y: auto; /* Habilita el scrollbar vertical cuando sea necesario */
    padding-right: 20px; /* Agrega espacio para el scrollbar vertical */
    box-sizing: border-box; /* Asegura que el padding no incremente el ancho total */
    display: flex;
    flex-direction: column;
}
::-webkit-scrollbar {
    width: 10px; 
}
::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb {
    background: #6545A1; 
}
.tarjeta-tera{
    /* scroll suave */
    scroll-snap-align: center;
    /*  */
    background: #ffff;
    display: inline-flex;
    width: 960px;
    border-top: 10px solid #6545A1;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0 0 5px #646464;
    width: 100%;
    max-width: 960px;
    margin: 20px auto;
    padding: 30px;
    box-sizing: border-box;
}
.tarjeta-tera h3{
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    color: #6545A1;
}
.tarjeta-tera p{ 
    margin:5px 0;
}
/* la primera informacion de tarjeta */
.infor1{
    border-right: 5px solid #6545A1;
    padding-right: 20px;
}
.infor1>div{display: flex;}
/* imagen y informacion de terapeuta */
.img-des{
    text-align: start;
    gap: 20px;
}
.img-tera>img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.img-tera{position: relative;}
.img-tera>img:last-child{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    border: 5px solid #ffff;
}
/* idiomas y precio */
.idiomas,.precio{
    justify-content: space-between;
    margin: 10px 40px;
}
.idiomas+hr{margin: 0;}
.precio>button{
    border: 0;
    font-family: 'Montserrat';
    font-size: 1rem;
    background: #B19CD9;
    border-radius: 10px;
    color: #ffff;
}
/* horario */
.infor2{
    margin-left: 20px;
    display: grid;
    justify-content: center;
    align-items: baseline;
    cursor: default;
}
td{
    columns: 100px;
}
.infor2>div{
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    box-shadow: 0 0 3px 1px inset #412c67;
    border-radius: 20px;
}
.hora-ocupada {
    text-decoration: line-through;
}
.infor2 > div > form> table tr > td:not(.hora-ocupada):hover {
    cursor: pointer;
    background: #B19CD9;
    color: #ffff;
    border-radius: 20px;
}

/* Estilos para dispositivos pequeños */
@media screen and (max-width: 768px) {
    .scrollbar {
        max-height: 400px; /* Ajusta la altura máxima para dispositivos pequeños */
    }
    .califica select#filtro-especialidad{
        width: 100px;
        font-size: small;
    }
    .buscador{
        margin-bottom: 30px;
    }
    .bx-search{
        margin-bottom: 30px;
    }
    aside{
        display: none;
    }

    .tarjeta-tera {
        flex-direction: column;
        align-items: center;
        flex: 0 0 auto; /* Para que las tarjetas no se hagan flexibles */
         margin-right: 20px; /* Espacio entre las tarjetas */
         width: 100%; /* Ajusta el ancho de las tarjetas según sea necesario */
        margin: 0 auto 20px; /* Centra las tarjetas y agrega espacio en la parte inferior */
    }
    .tarjeta-tera h3{
        font-size: 20px;
    }
    .scrollbar {
        overflow-y: auto; /* Habilitar la barra de desplazamiento vertical cuando sea necesario */
        max-height: 80vh; /* Establecer una altura máxima para el contenedor */
    }
    

    .tarjeta-tera .infor1 {
        border-right: none;
        padding-right: 0;
    }

    .tarjeta-tera .infor2 {
        margin-top: 20px;
    }
}

/* Estilos para dispositivos muy pequeños */
@media screen and (max-width: 480px) {
    .tarjeta-tera {
        padding: 20px; /* Reduce el relleno para dispositivos muy pequeños */
    }
}
